bokeh>=2.4.2
dask>=2021.12.0
fastparquet>=0.8.0
h5py>=3.6.0
matplotlib>=3.5.1
numba>=0.55.1
numpy>=1.21.5
scipy>=1.8.0
pandas>=1.4.1
psutil>=5.9.0
pyyaml>=6.0
six>=1.16.0
symmetrize
threadpoolctl>=3.1.0
tifffile>=2022.2.9
tqdm>=4.63.0
xarray>=0.20.2
